################################################################################
# File: .gitattributes
#
# Author: Benjamin Johnson
#
# Date Created: Thursday October 16, 2014
# Date Revised: N/A
#
# Description: The .gitattributes file defines actions taken for particular
#              files.
################################################################################

#
# Define the keyword expansion filter for all files
# Author:
*   filter=keywordExp









# End .gitattributes
