################################################################################
# File: .gitignore
#
# Author: $Format:%an$
#
# Date Created: Saturday October 11, 2014
# Date Revised: $Format:%cd$
#
# Description: The .gitignore file tells git which files and/or directories to
#              intentionally ignore in a git project.
################################################################################

#
# Ignore the following files:
#   objects, dependencies, archives, swap, backups
#
*.[oda]
*.sw*
*~

/Build/Logs/

/doc/
/exec/
/header/
/release/

/.targets/

# End .gitignore
