################################################################################
# File: .gitattributes
#
# Author: $Format:%an$
#
# Date Created: Saturday October 18, 2014
# Date Revised: $Format:%cD$
#
# Description: The .gitattributes file defines actions taken for particular
#              files.
# $Format:%cd And some more strings$
################################################################################

#
# Define the archive export-subst attribute for all files
# 
*   export-subst

README      -export-subst
GPL_V3      -export-subst
Doxyfile    -export-subst
/template/  -export-subst

# End .gitattributes
